@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap);

h1 {
  font-size: 50px;
  margin: 10px 0;
  text-transform: uppercase;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 6);
  margin: 0 10px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  color: #993300;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

h2,
h3,
h4 {
  margin: 5px 0;
}

h2 {
  color: #993300;
}

small {
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #525252;
  font-family: "Open Sans Condensed", sans-serif;
}

